@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}
body{
    background-color: white;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    display: flex;
    width: 100%;
    border-bottom: 1.75px solid gray;
    height: 90px;
    background-color: white;
    justify-content: center;
    align-items: center;
}
.div-header{
    width: 95%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header-pic{
    width: 110px;
    height: 30px;
}
.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
#lateral-nav-bar-icon{
    font-size: 20px;
    margin-right: 10px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    margin-top: 90px;
    top: 0;
    left: 0;
    background-color: white;
    border-right: 1.75px solid darkgrey;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #161111;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #363636;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
hr{
    margin-top: 5px;
    height: 1px;
    background: darkgray;
    box-shadow: none;
}
#form{
    display: flex;
}
#query{
    width: 500px;
    height: 40px;
    font-size: 14px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 1px solid gray;
    padding-left: 15px;
}
#query:focus {
    outline: none;
}
 
#search-bt{
    width: 80px;
    border-top-right-radius: 25px;  
    border-bottom-right-radius: 25px; 
    border: 1px solid gray;
    border-left: none;
    transition: 0.3s;
}
#search-bt:hover{
    box-shadow: 1px 1px 1px darkgray;
}
#bt-img{
    width: 20px;
    height: 20px;
}

.style-scope{
    display: flex;
    justify-content: center;
    align-items: center;
}
#dot-pic{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
#dot-pic:hover{
    background-color: darkgray;
    border-radius: 50%;
}

#nav-menu {
    position: absolute;
    display: none;
    flex-wrap: wrap;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    width: 120px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    right:14%
}
.theme-bt{
    border-radius: 10px;
    padding: 5px;
}
#nav-menu p{
    width: 100px;
}
#nav-menu #light{
    margin-right: 10px;
}
#login-pic{
    width: 30px;
    height: 30px;
    margin: 5px;
}
.start-session{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid gray;
    border-radius: 25px;
    width: 150px;
    transition: 0.3s;
}
.start-session:hover{
    background-color: #50c3ed4d;
    border: 1.5px solid transparent;
}
.start-session p{
    margin: 5px;
    font-size: 14px;
    color: #387ADF;
}
#icon{
    width: 20px;
    margin-right: 10px;
}
.content{
    margin-top: 70px;
    width: 95%;
    transition: 0.2s;
}

.content-open {
    width: calc(100% - 250px);
    margin-left: 270px;
}
.op-bt{
    width: 30px;
    height: 30px;
    font-size: 20px;
}
.video-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
}
.video-grid-open {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
}

.video-thumb{
    border-radius: 15px;
    width: 340px;
}
.video-details{
    display: flex;
    justify-content: center;
}
.account-pp{
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    overflow: hidden;
    margin-right: 10px;
}
.video-details{
    display: flex;
    justify-content: left;
    margin-top: 10px;
}
.video-name{
    color: black;
    font-weight: 450;
    width: 290px;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
    
}
.acc-name{
    margin-top: 2px;
    color: #8c8f8d;
}
.flex-container {
    display: flex;
    align-items: center;
}
.nav-bar-op img {
    margin-right: 5px; 
}
